:root {
  --border-color: #E5E8EC;
  --text-defautl: #FFFFFF;
  --red-primary: #3340cf;
  --font-text-sm: 12px;
  --font-text-defalult: 13px;
  --font-text-l: 14px;
  --font-text-xl: 15px;
  --font-text-2xl: 18px;
  --text-footer-color-default: #515D66
}

.wrap-footer {
    width: 100%;
    margin: 48px 0;
}

.wrap-footer h1 {
  font-size: var(--font-text-xl);
  font-weight: 700;
  margin-bottom: 20px;
  color: #212529;
}

.about-store span {
  font-size: var(--font-text-l);
  font-weight: 500;
  color: var(--text-footer-color-default);
  padding-bottom: 7px;
  line-height: 17.5px;
}

.number-call {
  font-size: 30px;
  font-weight: 500;
  color: #2B38D1;
  margin-bottom: 20px;
  line-height: 37.5px;
}

.store-address p {
  margin-bottom: 4px;
  font-size: var(--font-text-defalult);
  font-weight: 500;
  color: var(--text-footer-color-default);
}

.link-info li {
  font-size: var(--font-text-defalult);
  font-weight: 500;
  color: var(--text-footer-color-default);
  margin-bottom: 14px;
  cursor: pointer;
}

.newsletter span {
  font-size: var(--font-text-defalult);
  line-height: 17.5px;
  font-weight: 500;
  color: var(--text-footer-color-default);
  padding-bottom: 24px;
}

.input-email {
  margin-top: 20px;
  margin-bottom: 16px;
}

.newsletter p { 
  font-size: var(--font-text-defalult);
  font-weight: 500;
  color: var(--text-footer-color-default);
}

.Input-subscribe {
  padding: 16px 20px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  width: 300px;
}

.button-subscribe {
  padding: 16px 36px;
  border: none;
  margin-left: 10px;
  color: var(--text-defautl);
  font-weight: 700;
  background: #2B38D1;
  border-radius: 30px;
  cursor: pointer;
}

.space-top {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.copyright {
  padding: 24px 0;
  font-size: var(--font-text-l);
  font-weight: 400;
  color: var(--text-footer-color-default);
}

.copyright span {
  font-size: var(--font-text-l);
  font-weight: 500;
  color: #2B38D1;
}

.wrap-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.wrap-payment p {
  margin-right: 14px;
  font-size: var(--font-text-l);
  font-weight: 500;
  color: var(--text-footer-color-default);
}

.payment {
  width: 40px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment img {
  width: 100%;
  padding: 4px;
  cursor: pointer;
}